{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=temperature>
        <dt>Text:
        <dd><textarea name=pressure rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <h2>A beautiful plot</h2>
	<img src="{{ url_for('static', filename='images/tmp_plot_collection.png') }}" width="550" height="300" title="Plot Collection" border="0">
  <table id=nice_table>
	<TR>
		<th>Time</th>
		<th>Temp.</th>
		<th>Press.</th>
		<th>Humid.</th>
	<TR>
	{% for entry in entries %}
	<TR>
	   <TD class="c1">{{ entry[0] }}</TD>
	   <TD class="c2">{{ "%.2f"|format(entry[1]) }}</TD>
	   <TD class="c3">{{ "%.2f"|format(entry[2]) }}</TD>
	   <TD class="c4">{{ "%.2f"|format(entry[3]) }}</TD>
	</TR>
	{% else %}
    <TR>Unbelievable. No entries here so far</TR>
	{% endfor %}
  </table>
	  
{% endblock %}
