<head>

<!-- script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script -->

<script>
//document.getElementById("spans").onchange = function() {selectSpan()};

function selectSpan() {
  const spans = ['day', 'week', 'month', 'year'];
  for (var i = 0; i < spans.length; i++)
  {
    console.log(spans[i]);
    elem = document.getElementById(spans[i]);
    console.log(elem);
    elem.hidden = true;
  }
  var x = document.getElementById("spans");
  span = x.value;
  console.log(span)
  var elem = document.getElementById(span);
  elem.hidden = false;
}
</script>
<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=temperature>
        <dt>Text:
        <dd><textarea name=pressure rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}

<p>Main Station Overview:</p>
<table id=overview-table class="nice_table">
<div id="overview-bar">
	<TR style="outline: thin solid">
	   <TD class="c1">{{ entries[0][0] }}</TD>
	   <TD class="c2" style="background-color:#ffaaaa; font-size:200%; text-align:center">{{ "%.2f"|format(entries[0][1]) }} <div style="font-size:50%">&#176;C</div> </TD>
	   <TD class="c3" style="background-color:#aaffaa; font-size:200%; text-align:center">{{ "%.2f"|format(entries[0][2]) }} <div style="font-size:50%">hPa</div></TD>
	   <TD class="c4" style="background-color:#aaaaff; font-size:200%; text-align:center">{{ "%.2f"|format(entries[0][3]) }} <div style="font-size:50%">&percnt; rel.</div></TD>
	</TR>
</div>
</table>
<p></p>

<label for="spans">Choose a time-span:</label>
<select name="spans" id="spans" onchange="selectSpan()">
  <option value="day">Day</option>
  <option value="week">Week</option>
  <option value="month">Month</option>
  <option value="year">Year</option>
</select>

<div id="day">
    <p>Day</p>
    {{ html_figs['day']['temp'] | safe }}
    {{ html_figs['day']['press'] | safe }}
    {{ html_figs['day']['humid'] | safe }}
</div>
<div id="week" display="none" hidden="true">
    <p>Week</p>
    {{ html_figs['week']['temp'] | safe }}
    {{ html_figs['week']['press'] | safe }}
    {{ html_figs['week']['humid'] | safe }}
</div>
<div id="month" hidden="true">
    <p>Month</p>
    {{ html_figs['month']['temp'] | safe }}
    {{ html_figs['month']['press'] | safe }}
    {{ html_figs['month']['humid'] | safe }}
</div>
<div id="year" hidden="true">
    <p>Year</p>
    {{ html_figs['year']['temp'] | safe }}
    {{ html_figs['year']['press'] | safe }}
    {{ html_figs['year']['humid'] | safe }}

</div>
  <p></p>
  <h2>Homesens Main Station</h2>
  <table id=nice_table_1 class="nice_table">
	<TR>
		<th>Time</th>
		<th>Temp.</th>
		<th>Press.</th>
		<th>Humid.</th>
	<TR>
	{% for entry in entries %}
	<TR>
	   <TD class="c1">{{ entry[0] }}</TD>
	   <TD class="c2">{{ "%.2f"|format(entry[1]) }}</TD>
	   <TD class="c3">{{ "%.2f"|format(entry[2]) }}</TD>
	   <TD class="c4">{{ "%.2f"|format(entry[3]) }}</TD>
	</TR>
	{% else %}
    <TR>Unbelievable. No entries here so far</TR>
	{% endfor %}
  </table>

  <p></p>
  <h2>ESP32-1 BME280</h2>
  <table id=nice_table_2 class="nice_table">
	<TR>
		<th>Time</th>
		<th>Temp.</th>
		<th>Press.</th>
		<th>Humid.</th>
	<TR>
	{% for entry in esp_32_1_entries %}
	<TR>
	   <TD class="c1">{{ entry[0] }}</TD>
	   <TD class="c2">{{ "%.2f"|format(entry[1]) }}</TD>
	   <TD class="c3">{{ "%.2f"|format(entry[2]) }}</TD>
	   <TD class="c4">{{ "%.2f"|format(entry[3]) }}</TD>
	</TR>
	{% else %}
    <TR>Unbelievable. No entries here so far</TR>
	{% endfor %}
  </table>
	  
{% endblock %}
